# Ignore the root dist as buildcontrol will place it on it's own branch (same for gh-pages)
.git
.idea/

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
yarn.lock
yarn-error.log

node_modules
