@mixin line-clamp($numLines: 1, $lineHeight: 1.5) {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $numLines;
  max-height: $numLines * $lineHeight + unquote('rem');
}
