.textfield-box {
  .form-control {
    background-color: $textfield-box-bg;
    border-radius: $textfield-box-border-radius;
    padding: 0 $textfield-box-padding-x;
  }
  input.form-control,
  input.custom-file-control {
  }
}
